@import '../../utils/mixins/border';
.list{
	display:flex;
	flex-direction: column;
	padding-bottom: 1rem;
	&__title{
		padding:0;
		margin:0;
		font-size:get-font-size('h3');
		font-weight:400;
		font-family: $element-font;
		letter-spacing: 0.1rem;
	}
	&__item{
		font-size:get-font-size('base');
		font-weight:300;
	}
	&__item:not(:last-child){
		margin-bottom:0.5rem;
	}
	&__item-content{
		display: flex;
		max-width: 100%;;
	}
}
.item{
	&__link,
	&__text{
		text-align: left;
		max-width:100%;
		white-space:nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
		word-break: break-all;
		margin:0;
	}
	&__text, &__title{
		margin: 0;
		white-space:normal;
	}
	&__link-container,
	&__text-container{
		display: flex;
		flex-shrink: 1;
		overflow:hidden;
	}
}
.item__span{
	margin-right:0.2rem;
	color:#8f9fbc;
}
.list__searchable{
	& > li:hover{
		cursor:pointer;
		@include custom-border(0.1rem, 'border--focus' ,'b');
	}
}
@media only screen and (max-width:$tablet){
}