.btn-reset {
	padding: 0;
	border: 0;
	background: transparent;
  }

.overflow-hidden {
	overflow: hidden;
  }
  
.overflow-y-hidden {
	overflow-x: hidden;
  }
  
.overflow-x-hidden {
	overflow-x: hidden;
  }
  
  